.cnv{
width:950px;
height:700px;
border:4px solid orangered;
transform-origin:center center;
object-fit:cover;

}
.bts1{
width:70px;
height:100px;
margin-Top:50px;
margin-Left:30px;
background:pink;
}
.bts2{
width:80px;
height:100px;
margin-Top:50px;
margin-Left:30px;
background:pink;

}
.bts3{
width:80px;
height:100px;
margin-Top:50px;
margin-Left:30px;
background:pink;
}
.btstiro{
width:100px;
height:100px;
margin-Top:50px;
margin-Left:30px;
color:red;
background: black;
}
.btsmais{
width:80px;
height:50px;
margin-Top:50px;
margin-Left:30px;
background:pink;
color:red;
}
.btsmenos{
width:80px;
height:50px;
margin-Top:50px;
margin-Left:30px;
background:pink;
color:red;
}
